{% extends 'core/base.html'%}

{% block title %} About{% endblock %}

{%  block content %}
<h1 style="color: #ddf1f1; text-align: center; font-size: 80px;">What is LAXNODE</h1>

<div class="about-container">
    <h1 class="title">Welcome to Laxnode</h1>
    <p class="intro">
        At Laxnode, we are passionate about innovation and excellence.
        Our team of experts is dedicated to delivering cutting-edge solutions in NLP , MACHINE LEARNING , ARTIFICIAL INTELLIGENCE , WEB DEVELOPMENT;
    </p>
    <p class="details">
        Our mission is to empower businesses with technology that drives growth, enhances efficiency, and 
        transforms ideas into reality. From startups to enterprises, we tailor our services to meet your 
        unique needs, ensuring that you stay ahead in a rapidly evolving digital landscape.
    </p>
</div>
<style>
    .about-container h1{
    max-width:none;
    font-size: 30px;
    font-weight:bold ;  
    text-align: center;
    padding: 10px;
    margin:0;
    
}
.about-container p{
    max-width: none;
    font-size: 18px;
    font-weight:bold ;
    text-align: center;
    padding: 10px;
    margin:0;
    
}
</style>
{% endblock%}