{% extends 'core/base.html'%}

{% block title %} Contact {% endblock %}

{%  block content %}
<h1 style="color: #ddf1f1; text-align: center; font-size: 80px;">Let us know what you want</h1>
<div class="background flex justify-center items-center min-h-screen p-4">
    <div class="contact-form bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
        <h2 class="text-2xl font-bold mb-4">Contact Us</h2>
        <form>
            <div class="mb-4">
                <label for="name" class="block text-gray-700 mb-2">Name</label>
                <input type="text" id="name" name="name" placeholder="Enter your name" class="w-full p-2 border border-gray-300 rounded-md">
            </div>
            
            <div class="mb-4">
                <label for="email" class="block text-gray-700 mb-2">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" class="w-full p-2 border border-gray-300 rounded-md">
            </div>
            
            <div class="mb-4">
                <label for="subject" class="block text-gray-700 mb-2">Subject</label>
                <input type="text" id="subject" name="subject" placeholder="Enter subject" class="w-full p-2 border border-gray-300 rounded-md">
            </div>
            
            <div class="mb-4">
                <label for="message" class="block text-gray-700 mb-2">Message</label>
                <textarea id="message" name="message" placeholder="Type your query here" class="w-full p-2 border border-gray-300 rounded-md"></textarea>
            </div>
            
            <button a href="mailto:sureshravan78@gmail .com" type="submit" class="bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600">Submit</button>
        </form>
        </div>
</div>
{% endblock%}