 {% extends 'core/base.html'%}

 {% block title %} Welcome {% endblock %}

 {%  block content %}
 <h1 style="color: teal; text-align:justify;" class="text-xl font-semibold">Welcome to LAXNODE SOLUTIONS</h1>
 <p style=" text-align:justify;"> M/s. Laxnode Solutions is a leading technical services firm specializing in a diverse range
   of engineering solutions. With a focus on the detailed design of process piping, power piping,
   cooling water, chilled water, waste water, oil handling packages, fire fighting systems, storage
   tanks, heat exchangers, strainers, pressure vessels, and other static equipments, pumps, and
   structural, we take pride in delivering high-quality services to clients across various industries </p>
{% endblock%}